/* ТАРИФЫ ################################################################################################################### */

.motion-block{
  text-align: center;
  width: 100%;
  padding: 25px;
}
.img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 100%;
}
.image{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}


